html,body {
    font: 1.1em "Century Gothic", Futura, sans-serif;
    margin: 0px;
    height:100%;
    background: #666;
    cursor:cell;
}

ol, ul {
    padding-left: 30px;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 0px;
}
.square {
    box-sizing:border-box;
    background: #ccc;
    border: 2px solid #bbb;
    float: left;
    font-size: 0.3em;
    font-weight: bold;
    line-height: 50px;
    user-select: none;
    height: 50px;
    width:  50px;
    text-align: center;
}
.team1Comp{
    background: #22c !important;
}
.team2Comp{
    background: #c22 !important;
}


.highlightRed{
    background-color:#f99;
}
.highlightBlue{
    background-color:#99f;
}

.highlightTopRed{
    border-top: 2px solid red;
}
.highlightBottomRed{
    border-bottom: 2px solid red;
}
.highlightLeftRed{
    border-left: 2px solid red;
}
.highlightRightRed{
    border-right: 2px solid red;
}


.highlightTopBlue{
    border-top: 2px solid blue;
}
.highlightBottomBlue{
    border-bottom: 2px solid blue;
}
.highlightLeftBlue{
    border-left: 2px solid blue;
}
.highlightRightBlue{
    border-right: 2px solid blue;
}


.topSel{
    border-top: 2px solid black;
}
.bottomSel{
    border-bottom: 2px solid black;
}
.leftSel{
    border-left: 2px solid black;
}
.rightSel{
    border-right: 2px solid black;
}

#app{
    height:100%;
}
.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
}